@{
    Layout = "~/Views/Staff/staff-layout.cshtml";
}

@section JsDocReady
{
pageUsers();
}
@section Header
{
<h1>Users</h1>
}

<p>Excludes users without an email (demo users).</p>
<table cellspacing="0" id="dataTable" class="data table table-striped">
    <thead>
    </thead>
    <tbody>
     </tbody>
</table>

