@{
    Layout = "~/Views/Account/Layout.cshtml";
    
    ViewData["Heading"] = S.Account_Billing_PageTitle;
}
<p class="@Html.AlertSuccessClass()">Your billing information has been updated.  Thank you!</p>

