@{
    Layout = "~/Views/Shared/Layout-External-Medium.cshtml";
    
    ViewData["Heading"] = "Close My Account";
}
<div class="well">
    <h3>@("Account Closed")</h3>
    <p>@("We're sorry to see you go.  We hope you enjoyed your time with Takeoff!")</p>
</div>

