@model Account_LimitReached
@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.Account_LimitReached_Demo_PageTitle;
}
@section Header
{
    <h1>@S.Account_LimitReached_Demo_PageHeading</h1>
}
<p>
    @S.Account_LimitReached_Demo_Explanation.FormatResource(Model.LimitationMessage, Html.StartActionLink<SignupController>(c => c.Index(null, null, null)))
</p>
<div class="actions">
    <a class="@Html.PrimaryButtonClass()" href="@(Url.Action<SignupController>(c => c.Index(null, null, null)))">Sign Up</a>
</div>
