@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = S.Account_LimitReached_Guest_PageTitle;
}
@section Header
{
    <h1>@S.Account_LimitReached_Guest_PageHeading</h1>
}
<p>
    @S.Account_LimitReached_Guest_Explanation
</p>
