@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = "Signed Out";
    ViewData.AddBodyCss("logout-done");
    
}
@section Header
{
<h1>You Have Been Signed Out</h1>
}
<p>Come back soon!</p>
