@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml";
    
    ViewData["PageTitle"] = "Trial Ended";
    ViewData.AddBodyCss("logout-confirm");
    
}
@section Header
{
<h1>@("Done!")</h1>
}
<p>
    We hope you enjoyed your time with Takeoff.  If there's anything you'd like to tell us that could improve our service, please email us at <a href="mailto:info@takeoffvideo.com">info@takeoffvideo.com</a>.  Thank you!
</p>
