@{
    Layout = "~/Views/Shared/Layout-App-Slim.cshtml"; 
    ViewData["PageTitle"] = S.Account_Verify_PageTitle;
}
@section Header
{
	<h1>@S.Account_Verify_PageHeading</h1>
}

<p class="@Html.AlertErrorClass(true)">@S.Account_Verify_InvalidLinkDetails.FormatResource(Html.StartTag("a").Href(Url.Action<AccountController>(c => c.VerifyPost(null))))</p>
