@{
    Layout = "~/Views/Shared/Layout-External-Slim.cshtml";
    
}
@section Header
{
    <h1>Send Files to Takeoff Support</h1>
}

<iframe style="width: 640px; height: 400px; overflow: hidden" src="https://www.sendthisfile.com/filebox/index.jsp?widgetcode=pumkqqdxAWNCq1SAfHKh2J5P" marginwidth=0 marginheight=0 width="" height= scrolling="no" frameborder=0></iframe>
