@{
    Layout = "~/Views/Staff/staff-layout.cshtml";
}
@section Header
{
    <h1>@("Encodes")</h1>
}


@section JsDocReady
{
pageStaffEncodes();
}
@section CssInline
{
}

<table cellspacing="0" id="dataTable" class="data table table-striped">
    <thead>
    </thead>
    <tbody>
     </tbody>
</table>

