@{
    Layout = "~/Views/Email/Layout-Announcement-Feature.cshtml";
}
@section Subject
{
Introducing Printing
}
@section Plain {
    Ever wish you could print your video comments in an easy-to-read list?  We have great news.  Now you can!

    We're proud to announce a new print feature in Takeoff.  For you editors, this is a great way to generate an edit decision list with a single click.  The printout includes all the important information, including timecodes.  

    You can find it in the "Options" menu above any video.  We hope you like it.  Let us know what you think.
}

<p class="text">
    @("Ever wish you could print your video comments in an easy-to-read list?  We have great news.  Now you can!")
</p>
<p class="text">
    @("We're proud to announce a new print feature in Takeoff.  For you editors, this is a great way to generate an edit decision list with a single click.  The printout includes all the important information, including timecodes.")
</p>
<p class="text">
    @("You can find it in the \"Options\" menu above any video.  We hope you like it.  Let us know what you think.")
</p>
