@{
    Layout = "~/Views/Email/Layout-Simple.cshtml";
    var url = Url.Action<SignupController>(c => c.Subscribe(null, null), UrlType.AbsoluteHttps);
    var closeUrl = Url.Action<AccountController>(c => c.Close(), UrlType.AbsoluteHttps);
}
@section Subject
{
Your Takeoff Trial Ends Tomorrow
}
@section Plain {
Hi, your Takeoff free trial ends tomorrow.  We really hope you think Takeoff is worth it and want to stay with us.

Please go to the following link to purchase Takeoff:
@url
}

@section HtmlExplanation
{
You are recieving this because you signed up for a Takeoff free trial and it's expiring tomorrow.  Since account expiration is a critical thing, there is no way to shut off these emails without closing your account.  If 
you'd like to close your account, please go to <a href="@closeUrl">@closeUrl</a> or email <a href="mailto:support@takeoffvideo.com">support@takeoffvideo.com</a> and we'll help you.
}

<p class="text">
Hi, your Takeoff free trial ends tomorrow.  At that point, it will be suspended and eventually deleted.  We really hope you think Takeoff is worth it and want to stay with us.  If you have any questions, please reply to this email with them and we will respond right away.
</p>

<div class="big-link-container">
<a href="@url">Purchase Takeoff</a>
<div class="link-to-copy">If clicking the above link didn't work, just copy and paste the following into your browser address bar:<br><b>@url</b></div>
</div>
