@{
    Layout = "~/Views/Staff/staff-layout.cshtml";
}
@section Header
{
    <h1>@("Outgoing Mail")</h1>
}

@section JsDocReady
{
pageStaffOutgoingMail();
}
@section CssInline
{
}

<table cellspacing="0" id="dataTable" class="data table table-striped">
    <thead>
    </thead>
    <tbody>
     </tbody>
</table>

