@{
    Layout = "~/Views/Staff/staff-layout.cshtml";
    ViewData["SubTitle"] = "Plans";
}

    <div class="warning">The plan couldn't be synced.  You gotta fix that punk!  You can try to <a href="/staff/plans/sync">sync all plans</a> or just go back to <a href="/staff/plans">view all plans.</a></div>