@{
    Layout = "~/Views/Staff/staff-layout.cshtml";
    ViewData["SubTitle"] = "Accounts";
}

@section JsDocReady
{
pageAccounts();
}
@section Header
{
<h1>Accounts</h1>
}

<p>Excludes demo accounts.</p>
<table cellspacing="0" id="dataTable" class="data table table-striped">
    <thead>
    </thead>
    <tbody>
     </tbody>
</table>

